bcrypt==3.1.7
certifi==2019.11.28
cffi==1.14.0
click==7.1.1
email-validator==1.1.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-JSGlue==0.3.1pip
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
form==0.0.1
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
Pillow==7.1.2
pycparser==2.20
qrcode==6.1
requests==2.23.0
six==1.12.0
SQLAlchemy==1.3.16
urllib3==1.25.8
Werkzeug==1.0.0
WTForms==2.3.1

Provided Certificates: HackOn_GoogleAssistantAction, GirlScript_Android, IBM Master The Mainframe, RoboticsCompetion_IIT_Kharagpur, BharaAcharyaEducatio_Online Course_COA, CCA_Java_Qualification, MIET_Meerut_DataScience_webinar, LearnWithCommunity_DecisionTrees, 
Juno_Arduino_3rd_position, Kshitij_2020_participation, MLH_HackDay_UEM, NEO_CA_Internship, Personal Branding by Miri Rodriguez, 
RoboCian_Donation_COVID, Swift Coimbatore_SwiftUI, TechEnquiesta_3rd_position, Udemy_JCL, Internal Certicates of TechStorm, Theme Photography  

Pending Certificates: IDEAThon , Abhiyantra    

