<!DOCTYPE html>
<html>

<head>
    <title>Shop Register</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" type="text/css" href="landing.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> -->



    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6dc87e4aa4.js" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
        .headtxt{
             font-family: 'Roboto', sans-serif;
            font-weight:700;
            font-size:2em;
        }
            table{
    width:400px;

}
th, caption {
    text-align:  left;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}
th, td {
    padding:11px;
}
tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

caption{
    font-size: 26;
    color: #DC2E0C;
    padding: .7rem 1.3rem;
    display: block;
}
    </style>
</head>

<body>

    <div id="navbar" class="k">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="index.php">COBUDDY</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('hello_home')}}"><span class="glyphicon glyphicon-user"></span> Home page</a></li>
                        <!--      <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>  -->
                        <!--    <li><a href="setting.html"><span class="glyphicon glyphicon-cog"></span>settings</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div>
        <div style="margin-top: 100px;">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="content-section">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset calss="form-group">
                            <legend class='border-bottom mb-4 headtxt'>Verification of Shop</legend>


                            <div class="form-group">
                                {{ form.email.label(class="form-control-label")}} {% if form.email.errors %} {{ form.email(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.email(class="form-control form-control-lg")}} {% endif %}
                            </div>


                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-info")}}
                            </div>
                            <!-- <small class="text-muted ml-2">
					<a href="#">Forget Password</a>
				</small>

                        </fieldset>
                    </form>
                </div>
                <div class="border-top pt-3">
                    <small class="text-muted">
			 Need An Acoount? <a class='ml-2' href="{{ url_for('hello_register')}}">Sign Up Now</a>
		</small> -->

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">


            </div>
            </div>
        </div>

        <div class="container" style=" padding-bottom: 5%; padding-top: 10%;border-left:70px solid #d9534f; border-right:80px solid #d9534f; width: 100%" >
<table>
    <caption>Mask and Sanitizers Availabality:</caption>
    <tr>
        <th>Shop Name</th>
        <th>Email</th>
        <th>Availability</th>
        <th>Pincode</th>
        <th>Google Map</th>
        
    </tr>

  {% for x in user%}
     <tr>
          <th>{{ x.med_name }}</th>
          <th>{{ x.email }}</th>
          <th>{{ x.med_avail }}</th>
          <th>{{ x.med_pin }}</th>
          <th><a href="{{ x.med_link }}">{{ x.med_link }}</a></th>
     </tr>
  {% endfor %}


</table>
</div>
    </div>
</body>

</html>